<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./assets/Wordle.css"> -->
</head>
<body>
    <!-- <?php if($wordToFind){ ?>
        <table>
            <?php for($i = 0; $i < $game->getLines(); $i++) { ?>
            <tr>
                <?php for($j = 0; $j < count($game->getWordSuggestion()); $j++){
                    echo "<td>" . $game->getWordSuggestion()[$j] . "</td>";
                } ?>
            </tr>
            <?php } ?>
        </table>
    <?php } ?> -->
    <form>
        <input type="text" name="wordSuggestion" />
        <input type="submit" value="Envoyer"/>
    </form>
</body>
</html>